/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\000034}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000321}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000327}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000330}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000337}}
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000342}}
ins {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000345}}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000350}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	960 Grid System ~ Text CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000365}}
body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000369}}
a:focus {
  outline: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000373}}
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000383}}
h1 {
  font-size: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000387}}
h2 {
  font-size: 23px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000391}}
h3 {
  font-size: 21px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000395}}
h4 {
  font-size: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\0000399}}
h5 {
  font-size: 17px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\00003103}}
h6 {
  font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\00003110}}
ol {
  list-style: decimal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\00003114}}
ul {
  list-style: disc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\00003118}}
li {
  margin-left: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_reset\.scss}line{font-family:\00003122}}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/neat\/grid\/_grid\.scss}line{font-family:\000032}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'league-gothic';
  src: url("../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.eot");
  src: url("../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.woff2") format("woff2"), url("../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.woff") format("woff"), url("../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.ttf") format("truetype"), url("../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
-----------------------

  Mobile First SASS
  http://blog.12spokes.com/web-design-development/faster-mobile-first-automagically-creating-static-layouts-for-old-ie-with-sass/

  example:
  
  nav.main-nav {
    @include breakpoint-ie(tablet) { float: right; }    
  }
  
  compiles to:
  @media only screen and (min-width: 768px) {
    nav.main-nav { float: right; }  
  }
   
  .oldie nav.main-nav { float: right; }

----------------------- 
  
*/
/* End Mobile First SASS */
/*  Sticky Footer
    http://www.cssstickyfooter.com/using-sticky-footer-code.html
---------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_utilities\.scss}line{font-family:\0000353}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_utilities\.scss}line{font-family:\0000355}}
#page-wrapper {
  min-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_utilities\.scss}line{font-family:\0000357}}
#main {
  overflow: auto;
  padding-bottom: 40px;
}

/* must be same height as the footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_utilities\.scss}line{font-family:\0000360}}
#footer {
  position: relative;
  margin-top: -40px;
  /* negative value of footer height */
  height: 40px;
  clear: both;
}

/* clearfix
---------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_utilities\.scss}line{font-family:\0000367}}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_utilities\.scss}line{font-family:\0000367}}
.clearfix {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_utilities\.scss}line{font-family:\0000367}}
html[xmlns] .clearfix {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_utilities\.scss}line{font-family:\0000367}}
* html .clearfix {
  height: 1%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_components\.scss}line{font-family:\000031}}
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000315}}
.container:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_components\.scss}line{font-family:\000034}}
.alignleft {
  display: inline;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_components\.scss}line{font-family:\000035}}
.alignright {
  display: inline;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_components\.scss}line{font-family:\000037}}
.italicise {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_components\.scss}line{font-family:\0000311}}
.omega {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/_components\.scss}line{font-family:\0000316}}
ul.nostyle li {
  list-style: none;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/cale\.scss}line{font-family:\0000312}}
body {
  background: url("../../images/background.jpg") top center no-repeat;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/cale\.scss}line{font-family:\0000317}}
a {
  color: #f27a30;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/cale\.scss}line{font-family:\0000321}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/cale\.scss}line{font-family:\0000326}}
#bigtext {
  width: 400px;
  font-family: 'league-gothic', sans-serif;
  margin: 0 auto;
  background-color: #333;
  position: absolute;
  top: 10%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cale\/Sites\/cale\.io\/source\/assets\/stylesheets\/sass\/cale\.scss}line{font-family:\0000346}}
#bigtext > span {
  line-height: 0.95em;
}

/*# sourceMappingURL=cale.css.map */
