@font-face {
    font-family: 'league-gothic';
    src: url('../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.eot');
    src: url('../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.woff2') format('woff2'),
         url('../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.woff') format('woff'),
         url('../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.ttf') format('truetype'),
         url('../../fonts/league-gothic/leaguegothic-regular-webfont-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}